body {
    background-color: black;
}

h1 {
    color: blanchedalmond;
    text-align: center;
}

p {
    color: blanchedalmond;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

img{
    height: 700px;
}